<div id="home">
    <header class="header">
        <div class="row row--items-flex-end">
            <a href="#" id="style-switcher">Switch Style</a>
            <div class="col-2">
            </div>
            <div class="check check--light">

                <input id="home__show-finished" type="checkbox" class="check__checkbox">
                <label for="home__show-finished" class="check__icon"></label>
                <label for="home__show-finished" class="col-2 check__label">Show finished</label>
            </div>
            <button id="open-details"
                    class="col-4 btn btn--round btn--header btn--alert fa fa-plus"></button>
        </div>
    </header>
    <main id="home-main">
        <script id="home-template" type="text/x-handlebars-template">

            <div class="row row--items-center">
                <div class="col-10">

                    <div class="row card card--header">
                        {{#if notes.length}}
                            <label id="home-header-date" class="col-1 table-header">
                                {{#ifSort sort.attribute 'createdAt'}}
                                    {{#if sort.asc}}
                                    <span class="fa fa-angle-up"></span>
                                    {{else}}
                                    <span class="fa fa-angle-down"></span>
                                    {{/if}}
                                {{/ifSort}}
                                Date
                            </label>
                            <label id="home-header-title" class="col-3 table-header">
                                {{#ifSort sort.attribute 'title'}}
                                    {{#if sort.asc}}
                                        <span class="fa fa-angle-up"></span>
                                    {{else}}
                                        <span class="fa fa-angle-down"></span>
                                    {{/if}}
                                {{/ifSort}}
                                Titel
                            </label>
                            <label id="home-header-content" class="col-4 table-header">
                                {{#ifSort sort.attribute 'text'}}
                                    {{#if sort.asc}}
                                        <span class="fa fa-angle-up"></span>
                                    {{else}}
                                        <span class="fa fa-angle-down"></span>
                                    {{/if}}
                                {{/ifSort}}
                                Content
                            </label>
                            <label id="home-header-prio" class="col-1 table-header">
                                {{#ifSort sort.attribute 'priority'}}
                                    {{#if sort.asc}}
                                        <span class="fa fa-angle-up"></span>
                                    {{else}}
                                        <span class="fa fa-angle-down"></span>
                                    {{/if}}
                                {{/ifSort}}
                                Priority
                            </label>
                            <label id="home-header-done" class="col-1 table-header">
                                {{#ifSort sort.attribute 'done'}}
                                    {{#if sort.asc}}
                                        <span class="fa fa-angle-up"></span>
                                    {{else}}
                                        <span class="fa fa-angle-down"></span>
                                    {{/if}}
                                {{/ifSort}}
                                Done
                            </label>
                        {{else}}<h1>Keine Notizen vorhanden</h1>{{/if}}
                    </div>
                    {{#notes}}
                        <div class="row card">
                            <label class="col-1">{{date createdAt}}</label>
                            <label class="col-3">{{title}}</label>
                            <div class="col-4">
                                <div class="dropdown">
                                    <input class="dropdown__checkbox" id="dropdown-{{id}}"
                                           type="checkbox">
                                    <label class="dropdown__content" for="dropdown-{{id}}">
                                        {{text}}
                                    </label>
                                </div>
                            </div>
                            <label class="col-1 prio">
                                <input class="prio__radio" id="home-prio3-{{id}}" type="radio"
                                       name="{{id}}" value="3"
                                    {{#ifCond priority 3}}checked="checked" {{/ifCond}}>
                                <label class="prio__icon" for="home-prio3-{{id}}"></label>
                                <input class="prio__radio" id="home-prio2-{{id}}" type="radio"
                                       name="{{id}}" value="2"
                                    {{#ifCond priority 2}}checked="checked" {{/ifCond}}>
                                <label class="prio__icon" for="home-prio2-{{id}}"></label>
                                <input class="prio__radio" id="home-prio1-{{id}}" type="radio"
                                       name="{{id}}" value="1"
                                    {{#ifCond priority 1}}checked="checked" {{/ifCond}}>
                                <label class="prio__icon" for="home-prio1-{{id}}"></label>
                            </label>

                            <div class="col-1 checkbox">
                                <div class="check">
                                    <input id="home__entry-{{id}}__check" type="checkbox"
                                           class="check__checkbox"
                                           name="{{id}}" {{#if done}}checked="checked" {{/if}}>
                                    <label for="home__entry-{{id}}__check"
                                           class="check__icon"></label>
                                </div>
                            </div>
                        </div>
                    {{/notes}}
                </div>
            </div>
        </script>
        <div id="home-content"></div>
    </main>
</div>
